[submodule "librocksdb-sys/rocksdb"]
path = librocksdb-sys/rocksdb
url = ssh://git@github.com/CodeEditorLand/RocksDB.git
ignore = all

[submodule "librocksdb-sys/snappy"]
path = librocksdb-sys/snappy
url = ssh://git@github.com/CodeEditorLand/Snappy.git
ignore = all
[submodule "librocksdb-sys/zstd-sys"]
path = librocksdb-sys/zstd-sys
url = ssh://git@github.com/CodeEditorLand/ZSTDSYS.git
